/*
 Stylesheet for skinnypickens.github.io
 */

:root {
    --header-color: #222;
    --header-back: #777;
    --header-back-hover: #616161;
}

body {
    font-family: 'IBM Plex Sans', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', 'Microsoft Sans Serif', sans-serif;
    margin: 0;
}

article,
aside,
footer,
header,
main,
section {
    display: block;
}

header > h1 {
    border-bottom: none;
    color: var(--header-color);
    margin: 0;
}

header > h1 a {
    display: block;
    padding: 4vh 4vw 3.5vh;
}

nav#sp-nav,
div#sp-nav {
    background-color: var(--header-back);
    color: white;
    margin: 0 auto 0.125vh;
}

nav#sp-nav > ul {
    cursor: default;
    margin: 0;
}

nav#sp-nav > ul > li {
    margin: 0 2pt;
}

nav#sp-nav > ul > li > * {
    border-radius: 10px;
    display: block;
    padding: 6pt 8pt;
    margin: 3px 0;
}

nav#sp-nav > ul > li > a:hover {
    background-color: var(--header-back-hover);
    transition: ease-in-out 200ms;
}

nav#sp-nav > ul li:first-child {
    margin-left: 0;
}

nav#sp-nav > ul li:last-child {
    margin-right: 0;
}

main {
    margin: 0 4vw;
}

footer {
    border-top: solid 1px gray;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: inherit;
}

h1,
h2 {
    border-bottom: solid 1px gray;
    font-weight: 400;
    padding-bottom: 4px;
}

ul.no-style,
ol.no-style {
    list-style: none;
    padding: 0;
}

ul.horizontal > li,
li.horizontal > li {
    display: inline-block;
}

.centered {
    text-align: center;
}
